body {
  text-align: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #f15b31;
}

.nav {
  font-family: "Raleway", sans-serif;
  color: #f15b31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}
