body {
  text-align: center;
  margin: 0;
  background: #FCEED7;
}

header {
  background-color: #245E46;
  color: #fff;
  padding: 30px 20px;

}

nav {
  font-family: "Raleway", sans-serif;
  background-color: #A37F4A;
  color: #fff;
  padding: 20px 0px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;

}

.nav {
  color: #fff;
  margin: 0 20px;

}

main {
  width: 850px;
  margin: 35px auto;
}

img {
  margin: 40px 8px;
}

h1 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #5E884D;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: #fff;
}

footer {
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0;
  border-style: none;
  background: #245E46;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.copyright {
  font-family: "Raleway", sans-serif;
  float: left;
}

.message {
  font-family: "Raleway", sans-serif;
  float: right;
}

.name {
  color: #F8DF22;
  font-weight: 700;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.score {
  color: black;
  text-align: right;
  margin-right: 155px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;

}

img {
  margin: 20px 20px;
}

#game-board {
  display: inline-block;
  text-align: center;
}
